.filter {
    padding: 60px 0; 
    @media screen and (min-width: 1200px) {
        padding: 94px 0;
    }
  
    &-block {
    margin: 0 0 40px;
    @media screen and (min-width: 768px) {
        text-align: center;
    }
    @media screen and (min-width: 1200px) {
        margin: 0 0 50px;
    }
    }  
}

.project-filter {
    
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
  }