.footer {
    padding-top: 60px;
    padding-bottom:  60px;
    background-color: $color-background;
  
     .logo {
        margin: 0;
    }
     .mail {
        margin-bottom: 9px;
    }
}