.hero {
    background-color: $color-hero-background;
    padding: 118px 0;
    height: 400px;
    /* Element background */
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient( 
      to top, 
      rgba(47, 48, 58, 0.4), 
      rgba(47, 48, 58, 0.4)),
    url(../images/Hero-img.jpg);
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  @media screen and (min-width: 480px) {
        padding: 118px 0;
        height: 400px;
     }

 @media screen and (min-width: 1200px) {
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    background-image: linear-gradient( 
      to top, 
      rgba(47, 48, 58, 0.4), 
      rgba(47, 48, 58, 0.4)),
    url(../images/Hero-img@2x.jpg);
  }
  @media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 288dpi),
  screen and (min-resolution: 3dppx) {
    background-image: linear-gradient( 
      to top, 
      rgba(47, 48, 58, 0.4), 
      rgba(47, 48, 58, 0.4)),
    url(../images/Hero-img@3x.jpg);
  }

}
  
    &-title {
         color: $color-primary-white;
         /* Hero text size*/
        max-width: 360px;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.615;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        /*Hero Block model*/
         margin: 0 auto 30px;
         @media screen and (min-width: 480px) {
            width: 360px;
        }
        @media screen and (min-width: 1200px) {
          min-width: 696px;
          font-size: 44px;
          line-height: 1.364;
      }
    }
}
