.section {
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
        padding-bottom: 94px;
    }

  /* Section title h2*/
  &-title {
    color: $color-title-text;
    padding-top: 60px;
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
    }
  
    /* Section title h2 text size */
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
  
  /* section-title Block model + flex */ 
    margin: 0 auto 50px;
    text-align: center;
  }
  /* Section title h3*/
    .item-title {
    color: $color-title-text;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.189;
    /* Block model + flex */
    margin: 0 0 10px;
  }
}
// ===========================
// .section {
//     padding-bottom: 94px;

//   /* Section title h2*/
//   &-title {
//     color: $color-title-text;
//     padding-top: 94px;
  
//     /* Section title h2 text size */
//     font-weight: 700;
//     font-size: 36px;
//     line-height: 1.167;
  
//   /* section-title Block model + flex */ 
//     margin: 0 auto 50px;
//     text-align: center;
//   }
//   /* Section title h3*/
//     .item-title {
//     color: $color-title-text;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.189;
//     /* Block model + flex */
//     margin: 0 0 10px;
//   }
// }