.address-nav {
    // display: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.143;

    @media screen and (max-width: 767px) {
    font-size: 18px;
    letter-spacing: 0.02em;
    line-height: 1.167;
    text-align: center;
    
    .link:not(:last-child) { 
        margin-bottom: 16px;
    }

    }
    @media screen and (min-width: 768px) {
        font-size: 12px;
        line-height: 1.167;
        padding: 32px 0 0;
        .link:not(:last-child) { 
            margin-bottom: 10px;
        }
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        margin: 0 0 0 auto;
        padding: 32px 0;
        align-items: center;
        .link:not(:last-child) { 
            margin: 0 30px 0 0;
        }
        
    }


    .link {
        display: block;
        color: $color-primary-text;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
 }
   /* address */
   .address-nav {
   
    &,
    &-footer {
     font-style: normal;
 }
    .link:hover,
    .link:focus {  
        color: $color-accent; 
        fill: $color-accent;
    } 
}

// .address-nav {
//     font-size: 14px;
//     font-weight: 500;
//     letter-spacing: 0.02em;
//     line-height: 1.143;
//     /* Block model + flex */
//     display: flex;
//     margin: 0 0 0 auto;
//     padding: 32px 0;
//     align-items: center;
  
//     .link:not(:last-child) { 
//         margin-right: 50px;
//     }
//     .link {
//         color: $color-primary-text;
//         transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }
//  }
//    /* address */
//    .address-nav {
   
//     &,
//     &-footer {
//      font-style: normal;
//  }
//     .link:hover,
//     .link:focus {  
//         color: $color-accent; 
//         fill: $color-accent;
//     } 
// }

// .icon-address {
//     fill: $color-primary-text;
//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
//    .mail &,
//    .phone & {
//     margin-right: 10px;
//    }
  
//       &:hover,
//       &:focus,
//       .mail:hover &, 
//       .mail:focus &,
//       .phone:hover &,
//       .phone:focus & {  
//     color: $color-accent; 
//     fill: $color-accent;
//   } 
// }

// ===============================================

// .address-nav {
//     font-size: 14px;
//     font-weight: 500;
//     letter-spacing: 0.02em;
//     line-height: 1.143;
//     /* Block model + flex */
//     display: flex;
//     margin: 0 0 0 auto;
//     padding: 32px 0;
//     align-items: center;
  
//     .link:not(:last-child) { 
//         margin-right: 50px;
//     }
//     .link {
//         color: $color-primary-text;
//         transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }
//  }
//    /* address */
//    .address-nav {
   
//     &,
//     &-footer {
//      font-style: normal;
//  }
//     .link:hover,
//     .link:focus {  
//         color: $color-accent; 
//         fill: $color-accent;
//     } 
// }

// .icon-address {
//     fill: $color-primary-text;
//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
//    .mail &,
//    .phone & {
//     margin-right: 10px;
//    }
  
//       &:hover,
//       &:focus,
//       .mail:hover &, 
//       .mail:focus &,
//       .phone:hover &,
//       .phone:focus & {  
//     color: $color-accent; 
//     fill: $color-accent;
//   } 
// }