

// .button {
//   color: $color-title-text;
//   background-color: $color-secondary-background;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   /* button text size */
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.625;
//   text-align: center;
//   border-radius: 4px;
//   padding: 10px 31px;
//   cursor: pointer;

//  &:hover,
//  &:focus {
//   color: $color-primary-white;
//   background-color: $color-accent;
//  }
// } 
//   .button.primary {
//     display: inline-block;
//     color: $color-primary-white;
//     background-color: $color-accent;
//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
//     /* button primary text size */
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.875;
//     letter-spacing: 0.06em;
//     width: 200px;
//     box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
//     border: 0;
//   }
//   .primary:hover,
//   .primary:focus {
//     background-color: #188CE8;
//   }
  
//   .button-secondary {
//     padding: 6px 22px;
//     border-width: 0;
//     letter-spacing: 0.03em;
//     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//    &:hover,
//    &:focus {
//     box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
//    }
//   }

//   // Button footer-form
//   .icon-footer-button {
//     position: absolute;
//     content: "";
//     display: flex;
//     bottom: 13px;
//     right: 28px;
//   } 
//   .wrapper-button {
//     position: relative;
//     display: inline-flex;
    
//     & .button.primary {
//     padding: 10px 62px 10px 29px;
  
//    }
//   }