// .button-social {
//     width: 20px;
//     height: 20px;
//     fill: $color-primary-white;
//   }
//   .social-circle {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     border-radius: 50%;
//     width: 44px;
//     height: 44px;
//     padding: 0;
//     /* social-links footer*/
//     background-color: $color-icon-footer-background;
  
//     &:hover .button-social,
//     &:focus .button-social {
//       fill: $color-primary-white;
//  }
// }