// .footer-block {
//     display: flex;
//     align-items: baseline;
//   }

//   .address-block{
//     margin-right: 70px;
//   }
//   .address-footer {
//     color: $color-primary-white;
//     margin: 20px 0 9px;
//     width: 231px;
//     height: 21px;
//   }

//   .address-nav-footer .link {
//     color: $color-secondary-text;
//     display: block;
//   }
  
//   /* footer text size p */
//    .title-social-links,
//    .title-footer-form {
//     display: block;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.143;
//     text-transform: uppercase;
//     margin: 0 0 20px;
//     color: $color-primary-white;
//   }