.footer-block {
    display: flex;
    align-items: baseline;
    @media screen and (max-width: 767px) {
        display: block;
    }
    @media screen and (min-width: 768px) {
        flex-wrap: wrap;
    }
    @media screen and (min-width: 1100px) {
        flex-wrap: nowrap;
    }
  }

  .address-block{
    margin: 0 70px 0 0px;
    @media screen and (max-width: 480px) {
        text-align: center;
        margin: 0;
    }
    @media screen and (min-width: 768px) and (max-width: 1100px) {
        margin: 0 70px;
    }
  }
  .address-footer {
    color: $color-primary-white;
    margin: 20px 0 9px;
    height: 21px;
    @media screen and (min-width: 768px) {
        width: 231px;;
    }
    @media screen and (max-width: 480px) {
        margin: 0 0 8px;
    }
  }

  .address-nav-footer .link {
    color: $color-secondary-text;
    display: block;
  }
  
  /* footer text size p */
   .title-social-links,
   .title-footer-form {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-transform: uppercase;
    margin: 0 0 20px;
    color: $color-primary-white;
    @media screen and (max-width: 480px) {
        text-align: center;
    }
  }