// .icon-antena::before {
//     background-image: url('../images/antenna\ 1.svg');
//   }
//   .icon-clock::before {
//     background-image: url('../images/clock\ 1.svg');
//   }
//   .icon-diagram::before {
//     background-image: url('../images/diagram\ 1.svg');
//   }
//   .icon-astronaut::before {
//     background-image: url('../images/astronaut\ 1.svg');
//   }