
.item {

    &:not(:last-child) {
      margin-bottom: 40px; 
    }
    &-social:not(:last-child) {
     margin-right: 10px;
    }
    &-title {
     text-align: center;
    }
    .team & {
     background-color: $color-primary-white; 
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
     border-radius: 0 0 4px 4px;
    }
}
.item {

    // &:not(:last-child) {
    //   margin-right: 30px; 
    // }
    &-social:not(:last-child) {
     margin-right: 10px;
    }
    &-title {
     text-align: center;
    }
    .team & {
     background-color: $color-primary-white; 
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
     border-radius: 0 0 4px 4px;
    }
}

.item-portfolio {
    width: calc((100% - 60px) / 3);
    border: 1px solid #EEEEEE;
    position: static;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    
      &:not(:nth-child(3n)) {
          margin-right: 30px;
      }
      &:not(:nth-last-child(-n +3)) {
          margin-bottom: 30px;
      }
      &:hover,
      &:focus {
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  }


// .item-portfolio {
//     width: calc((100% - 60px) / 3);
//     border: 1px solid #EEEEEE;
//     position: static;
//     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     cursor: pointer;
    
//       &:not(:nth-child(3n)) {
//           margin-right: 30px;
//       }
//       &:not(:nth-last-child(-n +3)) {
//           margin-bottom: 30px;
//       }
//       &:hover,
//       &:focus {
//           box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
//   }
//   }