.logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.167;
    width: 134px;

    color: $color-title-text;
    
    /* logo Color */
    &-web {
      color: $color-accent;
    }
  
    &-studio {
      color: $color-primary-white;
    }
    @media screen and (max-width: 767px) {
        padding: 16px 0;
    }
    
    @media screen and (min-width: 768px) {
        padding: 26px 0;
        margin-right: 88px;
    }
    
    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.192;
        width: 145px;
        padding: 24px 0 25px;
        margin-right: 93px;
    }
  }


// /* logo text size */
// .logo {
//     font-family: Raleway, sans-serif;
//     font-style: normal;
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.192;
//     width: 145px;
//     /* block model + flex */
//     padding-top: 24px;
//     padding-bottom: 25px;
//     margin-right: 93px;
//     color: $color-title-text;
    
//     /* logo Color */
//     &-web {
//       color: $color-accent;
//     }
  
//     &-studio {
//       color: $color-primary-white;
//     }
//   }