// .modal-form {
//   display: flex;
//   flex-direction: column;
//   width: 448px;

// &-title {
//   width: 448px;
//   font-weight: 700;
//   font-size: 20px;
//   line-height: 1.15;
//   margin-bottom: 12px;
//   color: $color-title-text;
//  }
//   .button.primary {
//   margin: 0 auto;
//  }
// }
//   .name-label {
//     display: flex;
//     font-size: 12px;
//     line-height: 1.167;
//     letter-spacing: 0.01em;
//     color: $color-primary-text;
//     margin-bottom: 4px; 
//   }
// .form-input {
//     width: 100%;
//     cursor: pointer;
//     height: 40px;
//     padding-left: 42px;
   
//    &,
//    &-message {
//     border: 1px solid rgba(33, 33, 33, 0.2);
//     border-radius: 4px;
//     outline: none;
//     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
//    &-message {
//     height: 138px;
//     resize: none;
//     margin-bottom: 20px;
//     padding: 12px 16px;
//   }
// }
// .form-input {
    
//   &:hover,
//   &:focus,
//   &-message:hover,
//   &-message:focus {
//     border-color: $color-accent;
//     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
//   &-message::placeholder {
//     color: rgba(117, 117, 117, 0.5);
//   }
// }
//   .form-privacy-policy {
//     position: relative;
//     display: flex;
//     align-items: center;
//     align-content: center;
//     margin-bottom: 30px;
//   }

//   .icon-form-size {
//     position: absolute;
//     content: "";
//     width: 18px;
//     height: 18px;
//     margin-left: 12px;
//   }
    
//   .form-item {
//     position: relative;
//     display: flex;
//     align-items: center;
//     margin-bottom: 10px;
   
//     &:hover .icon-form-size,
//     &:focus-within .icon-form-size {
//     fill: $color-accent;
//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }
//   .form-modal-checkbox {
//     /* appearance: none; */
//     position: absolute;
//     width: 1px;
//     height: 1px;
//     margin: -1px;
//     border: 0;
//     padding: 0;
//     clip: rect(0 0 0 0);
//     overflow: hidden;
  
//     &:checked + .form-checkbox-label::before {
//         background-color: $color-accent;
//         background-image: url(../images/icon-check22.svg);
//         background-size: contain;
//         background-origin: border-box;
//         border-color: $color-accent;
//         transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
//         border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
//  }
//   .form-checkbox-label {
//     display: flex;
//     align-items: center;
//     margin-left: auto;
//     margin-right: auto;

//     &::before {
//         content: "";
//         display: inline-block;
//         width: 16px;
//         height: 15px;
//         border: 2px solid $color-title-text;
//         background-color: $color-primary-white;
//         border-radius: 4px;
//         margin-right: 7px;
//   }
// }    
  
// .form-privacy-link {
//   color: $color-accent;
//   margin-left: 3px;

//   &::before {
//     position: absolute;
//     content: "";
//     display: inline-block;
//     width: 127px;
//     color: $color-accent;
//     height: 5px;
//     border-bottom: 1px;
//     border-bottom-style: solid;
//     bottom: 5px;
//   }
// }