.team {
    text-align: center;
    @media screen and (min-width: 767px) {
        display: flex;
    }
    @media screen and (min-width: 768px) {
        flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
    @media screen and (max-width: 1199px) and (min-width: 768px) {
    .item:not(:last-child):nth-child(2n+1) {
     margin-right: 30px; 
    }
    }
}
