.webstudio-nav {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.143;
    margin: 0;
    padding: 0;

    .link {
        position: relative;
        padding: 32px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: $color-title-text;
                
        &:hover,
        &:focus { 
           color: $color-accent;
        }
    }

    @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 155px;
    font-size: 18px;
    line-height: 1.167;
    margin-bottom: 60px;

    .link {
        position: relative;
        padding: 0 0 8px 0;
      }
    }
    @media screen and (min-width: 768px) {
        width: 294px;
        padding-top: 32px;
        margin-right: 84px;
    
        .item:not(:last-child) { 
        margin-right: 50px;
        .link {
            position: relative;
            padding: 0 0 28px 0;
          }
     }
    }
    @media screen and (min-width: 1200px) {
        margin-right: 304px;

    }

}

// .webstudio-nav {
//     width: 294px;
//     font-size: 14px;
//     font-weight: 500;
//     letter-spacing: 0.02em;
//     line-height: 1.143;
//     /* Block model + flex */
//     display: flex;
//     margin: 0;
//     padding: 0;

//     .item:not(:last-child) { 
//         margin-right: 50px;
//         }
//     .link {
//         position: relative;
//         padding: 32px 0;
//         transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//         color: $color-title-text;
        
//         &:hover,
//         &:focus { 
//           color: $color-accent;
//         }
//     }
// }
