.list {
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
   
}

img {
  display: block;
}

.img-frame {
  border-radius: 0;
}
  
.link {
text-decoration: none;
}

body {
  background-color: $color-primary-white;
  color: $color-primary-text;

  /* body text size */
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.714;
  }