$color-primary-text: #757575;
$color-secondary-text: rgba(255, 255, 255, 0.6);
$color-primary-white: #ffffff;
$color-accent: #2196F3;
$color-title-text: #212121;
$color-background: #2F303A;
$color-secondary-background: #F5F4FA;
$color-hero-background: #C4C4C4;
$color-leter-icon: #AFB1B8;
$color-icon-footer-background: rgba(255, 255, 255, 0.1);